.s_head{
    margin-top: 2%;
    display: flex;
    justify-content: space-evenly;
}
.s_navbar_button{
    background-color: white;
    border: none;
    border-bottom: 5px solid white;
}
.s_navbar_button:hover{
    border-bottom: 5px solid red;
}
.imgs{
    display: flex;
}
img{
    max-width: 50%;
}
@media (max-width: 768px) {
    .s_head {
      display: none; /* Hide the regular links on smaller screens */
    }
  
    .s_nav_menu {
      display: block; /* Show the mobile menu button */
    }
  }

  @media (min-width: 768px) {
    
  
    .s_nav_menu {
      display: none; /* Show the mobile menu button */
    }
  }
