.title{
    margin: auto;
    padding: 5%;
}
h4{
    margin: auto
}
.s_half_element{
    margin-left:2%;
    max-width: 30%;
    text-align: left;
}
.s_h4{
    text-align: center;

}
.s_half_element_image{
    max-width: 100%;
}
.s_half_elements_main{
    margin-top:5% ;
    display: flex;
}
.carou{
    margin-left:2% ;
}
.unknown_main{
    margin-left: 5%;
    display: flex;
}
.unknown_main_obj1{
    height: 400px;
    width:50%;
    background-color: aqua;
    
}
.unknown_dates{
    margin-left:5% ;
    text-align: left;
}
.about-comp{
    margin: auto;
    margin-right:20% ;
    text-align: justify;
    padding: 50px;
    border: 2px solid black;
}
.info-buttons{
    padding: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
    max-width: 15%;
    border: 5px solid white;
}
.info-buttons:hover{
    border-bottom: 5px solid red;
}
li{
    list-style-type: none;
    text-align: justify;
}
ul{
    padding-top: 5%;
    padding-bottom: 5%;
    padding-right: 10%;
    margin-right:20% ;
    border: 2px solid black;
}
.info-button{
    display: flex;
    flex-direction: column;
    margin-left: 20%;
}
.about-vnr{
    margin-left: 5%;
    text-align: left;
}


.s_card_img2{
    padding: 5px;
    border-radius: 50px;
    max-width: 500px;
    max-height: 350px;
}
.s_card_p{
    padding-left: 5px;
    text-align: justify;
    padding: 10px;
}

@media (max-width: 768px) {
    .s_card_img2{
        display: flex;
        max-width:75%;
        margin: auto;
    }
    .s_card {
        display: block;
        align-content: center;
        margin-top: 15px;
        margin-bottom: 15px;
        margin-left: 5%;
        margin-right: 5%;
        background-color: #880202;
        color: white;
    }
  }

@media (min-width: 768px) {
    .s_card_img2{
        align-items: center;
        margin: auto;
        padding: 15px;
        border-radius: 50px;
    }
    .s_card {
        display: flex;
        margin-top: 15px;
        margin-bottom: 15px;
        margin-left: 5%;
        margin-right: 5%;
        background-color: #880202;
        color: white;    
    }
}