* {
    font-family: Georgia, 'Times New Roman', Times, serif;
}
table {
  width: 60%;
  margin: auto;
  margin-bottom: 20px;
  border: black 2px solid;
  
}

thead {
  background-color: #f2f2f2;
  
}

th, td {
  padding: 10px;
  text-align: left;
}
td{
  text-align: center;

}
th {
  font-weight: bold;
}
tr:hover {
  background-color: #ff4747;
}
.tar{
  border: #6b6b6b 2px solid;
}